.activeTagContainer {
  padding: 6px 12px 4px 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 120px;
  overflow: hidden;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 12px;
  margin: 18px 0;
}

.activeTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  border-radius: 24px;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  backdrop-filter: blur(400px);
  cursor: pointer;
  color: var(--text-primary);
}

.closeIcon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  transform: translate(50%, 10%);
}

.addNewTag {
  padding: 4px 16px;
  border-radius: 24px;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  backdrop-filter: blur(400px);
  text-align: start;
  cursor: pointer;
  border-style: dashed;
  border-width: 1px;
  opacity: 0.5;
}

.activeTagBoy {
  background-color: var(--bf-accent);
}

.activeTagGirl {
  background-color: var(--gf-accent);
}
