.liveStatsPanel {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.liveStatsCards {
  display: grid;
  gap: 12px;
  margin-top: 8px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.liveStatsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  padding: 12px;
  height: 12vh;
  width: 100%;
}

.liveStatsCard div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.liveStatsImage {
  /* top: 36px; */
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.liveStatsCard .subtitle {
  font-size: 12px;
  color: var(--text-primary);
}

.liveStatsCard:hover {
  border-color: var(--bf-secondary);
  color: var(--bf-secondary);
  cursor: pointer;
  transition: 0.2s ease;
}

.progressValue {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

.progressBar {
  width: 100px;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--border);
}

.progress {
  height: 100%;
  background-color: var(--bf-secondary);
  border-radius: 4px;
}
