.pageContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 69vh 5vh;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.gameLayout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "boyfriendPanel argumentArena girlfriendPanel";
  padding: 0 16px 6px;
  gap: 8px;
}
.boyfriendPanel {
  grid-area: boyfriendPanel;
}
.girlfriendPanel {
  grid-area: girlfriendPanel;
}
.argumentArena {
  grid-area: argumentArena;
}

@media (max-width: 1000px) {
  .gameLayout {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "argumentArena argumentArena"
      " boyfriendPanel girlfriendPanel";
  }
}
@media (max-width: 600px) {
  .gameLayout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "argumentArena"
      " boyfriendPanel"
      " girlfriendPanel";
  }
}

.gameControlLayout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "chaosPanel startButton statsPanel";
  padding: 6px 16px;
  gap: 8px;
}

.chaosPanel {
  grid-area: chaosPanel;
}
.startButton {
  grid-area: startButton;
}
.statsPanel {
  grid-area: statsPanel;
}

@media (max-width: 1400px) {
  .gameControlLayout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "startButton"
      "statsPanel"
      "chaosPanel";
  }
}


