.header-container {
  display: flex;
  align-items: center;
  padding: 0 6px;
  justify-content: space-between;
  /* display: none; */
}

.logo {
  height: 6vh;
}

.header-leading {
  display: flex;
  align-items: center;
}

.header-trailing {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  gap: 6px;
}
