.playBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 16px;
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  height: 13vh;
  width: 13vh;
  padding: 0 32px;

  border: none;
  border-radius: 999px;

  cursor: pointer;

  font-size: 18px;
  font-weight: 700;
  color: white;

  background: linear-gradient(
    135deg,
    var(--primary),
    var(--secondary),
    var(--bf-primary)
  );

  box-shadow:
    0 0 20px var(--bf-accent),
    0 0 40px var(--gf-accent);

  transition: all 0.25s ease;

  animation: pulseGlow 2.5s infinite;
}

@media (max-width: 1600px) {
  .playButton {
    width: 100%;
    border-radius: 6px;
    padding: 0px;
  }
  .playBtnContainer {
    padding: 0px;
  }
  .playButton:hover {
    transform: none;
  }
}
.playButton:hover {
  transform: scale(1.06);

  box-shadow:
    0 0 30px var(--bf-accent),
    0 0 60px var(--gf-accent);
}

.playButton:active {
  transform: scale(0.98);
}

.playIcon {
  width: 0;
  height: 0;

  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid white;

  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
}

@keyframes pulseGlow {
  0% {
    box-shadow:
      0 0 20px var(--bf-accent),
      0 0 40px var(--gf-accent);
  }

  50% {
    box-shadow:
      0 0 35px var(--bf-accent),
      0 0 70px var(--gf-accent);
  }

  100% {
    box-shadow:
      0 0 20px var(--bf-accent),
      0 0 40px var(--gf-accent);
  }
}
