.pageContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 69vh 5vh;
}

.chooseUserTypeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  width: 400px;
  height: 400px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.chooseUserType {
  font-size: 24px;
  font-weight: 600;
}

.userTypeBtnContainer {
  display: grid;
  width: min-content;
  grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) 2fr 2fr;
  grid-template-areas:
    "boyfriend girlfriend"
    "dual dual"
    "ai ai";
}

.userTypeBtn {
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--border);
  color: var(--text-primary);
  margin: 8px;
}

.boyfriendBtn {
  background: linear-gradient(135deg, var(--bf-primary), var(--bf-secondary));
  grid-area: boyfriend;
}
.girlfriendBtn {
  background: linear-gradient(135deg, var(--gf-primary), var(--gf-secondary));
  grid-area: girlfriend;
}
.dualBtn {
  background: linear-gradient(135deg, var(--gf-primary), var(--bf-primary));
  grid-area: dual;
}

@keyframes lavaFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.aiBtn {
  grid-area: ai;
  background: linear-gradient(
    135deg,
    #ff6b6b,
    #ffb86b,
    #6bcfff,
    #8b6bff,
    #ff6b6b
  );
  animation: lavaFlow alternate 2s ease infinite;
  background-size: 300% 300%;
}
