.playerPanel {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.infoIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s ease;
  color: var(--text-primary);
}

.playerTraits {
  padding: 0 24px;
  min-height: 0;
}

.traits {
  display: flex;
  flex-direction: column;
}

.trait {
  display: flex;
  align-items: center;
  padding: 6px 0;
  gap: 6px;
  margin: 8px 0;
}

.traitName {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-primary);
  width: 70%;
}

.traitValue {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-secondary);
}

.traitProgressBar {
  width: 100%;
}

.progressContainer {
  display: flex;
  align-items: center;
  background-color: var(--text-muted);
  height: 6px;
  border-radius: 6px;
}

.traitProgress {
  height: 6px;
  border-radius: 6px;
}

.progressBoy {
  background-color: var(--bf-primary);
}

.progressGirl {
  background-color: var(--gf-primary);
}

.thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--text-primary);
  cursor: pointer;
}
