@media (max-width: 1200px) {
  .game-layout {
    /* grid-template-columns: 1fr; */
  }
  .game-control-layout {
    /* grid-template-columns: 1fr; */
  }
}

@media (max-width: 768px) {
  .page-container {
    padding: 16px;
    gap: 16px;
  }
}

.page-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 69vh 5vh;
}

.header-container {
  align-items: center;
  padding: 0 6px;
}

.game-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0px 16px 6px 16px;
  gap: 8px;
}

.game-control-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 6px 16px;
  gap: 8px;
}
